
<!DOCTYPE html>
<html>
  <head>
   
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" 
 />
  <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header class="header">
      <a>
        <img src="/assets/logo.png" alt="" width="200">
      </a>
      <nav>
        <ul>
          <a href="/login">
            <li>로그인</li>
          </a>
         
        </ul>
      </nav>
    </header>
    <div class="content-center flex">
      <h1 class="text-3xl font-nomal flex"><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
   
  </body>
</html>
 