
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1 class="text-3xl font-nomal underline"><%= title %></h1>
    <p class="uppercase">Welcome to <%= title %></p>
  </body>
</html>
